@media screen and (min-width: 358px) {
  .Header {
    background-color: transparent;
    width: 100%;

    position: fixed;
    top: 0;

    z-index: 1000;
  }

  .Header article {
    width: 100%;

    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 0.5rem;
  }

  /* LOGO */
  .Header article a {
    text-decoration: none;
    width: 55%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Header article a figure {
    width: 30%;
    max-width: 100px;
    height: 50px;

    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Header article a figure img {
    width: 120px;

    object-fit: cover;
  }

  /* LOGO - Title */
  .Header article a p {
    color: white;
    text-decoration: none;

    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0;
  }

  .Header article a p strong {
    color: rgb(188, 148, 126);
    text-decoration: none;

    font-family: "Titan One", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  /* MENU - DESKTOP */
  .Header article span {
    display: none;
  }

  /* MENU - MOBILE */
  .Header article nav {
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Header article nav i {
    width: 50px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* MENU - Lines */

  .Header article nav i .Header_Menu-line {
    width: 30px;
    height: 4px;

    border-top: 4px solid rgb(229, 200, 184);

    display: flex;

    transition: 0.6s;
    display: block;

    position: relative;
  }

  .Header article nav i .Header_Menu-line::after,
  .Header article nav i .Header_Menu-line::before {
    content: "";
    background-color: rgb(229, 200, 184);

    display: block;
    width: 100%;
    height: 4px;

    margin-top: 4px;
    transition: 0.3s;
    position: relative;
  }

  .Header article nav i .Header_Menu-line.active {
    border-top-color: transparent;
    transition: 0.3s;
  }

  .Header article nav i .Header_Menu-line.active::before {
    transform: rotate(-44deg);
    transition: 0.3s;
  }

  .Header article nav i .Header_Menu-line.active::after {
    transform: rotate(42deg);
    transition: 0.3s;
    top: -8px;
  }
}

@media screen and (min-width: 768px) {
  /* MENU */
  .Header article nav {
    display: none;
  }

  /* MENU - DESKTOP */
  .Header article span {
    width: 100%;
    max-width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Header article span ul {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .Header article span ul li {
    width: 100%;

    margin: 0 0 0 0;
    padding: 0;
  }

  .Header article span ul li a {
    color: rgb(208, 206, 206);

    font-size: 0.9rem;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    margin: 0;
    padding: 0;
    transition: all ease-in-out 300ms;
  }

  .Header article span ul li a.active {
    color: white;
  }

  .Header article span ul li a:hover {
    color: white;
    transition: all ease-in-out 300ms;
  }
}

@media screen and (min-width: 1000px) {
  .Header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Header article {
    max-width: 1000px;
  }

  /* Menu - Desktop - Link */
  .Header article span ul li a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 2000px) {
  .Header article {
    max-width: 1400px;
  }
}
