@media screen and (min-width: 358px) {
  .NavBar {
    background-color: #00000095;

    position: fixed;
    left: -100vw;
    width: 75vw;
    height: 100vh;

    transition: all ease-in-out 600ms;
  }

  .NavBarJS {
    left: 0;
    transition: all ease-in-out 600ms;
  }

  .NavBar article {
    background-color: #00000095;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 0 0 0 2rem;
    margin: 0rem 0 0 0;
  }

  /* Menu - List */

  .NavBar article nav {
    width: 100%;
    height: 35vh;

    box-sizing: border-box;
    padding: 0;
    margin: 0 0 0 0;

    display: flex;
    flex-direction: column;
    align-items: start;
  }

  /* Menu - List - Link */

  .NavBar article nav a {
    color: rgb(255, 255, 255);

    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;

    font-size: 1.2rem;
    font-family: "Bungee", sans-serif;
    font-weight: bold;
    cursor: pointer;

    margin-bottom: 1rem;
    transition: all ease-in-out 600ms;
  }

  .NavBar article nav a.active {
    color: rgb(255, 255, 255);

    border: 1px solid rgb(255, 255, 255);
  }

  .NavBar article nav a:hover {
    color: rgb(188, 148, 126);

    transition: all ease-in-out 300ms;
  }

  /* Menu - Logo */

  .NavBar article figure {
    width: 100%;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
  }

  .NavBar article figure img {
    width: 70%;
    object-fit: cover;
  }

  /* Menu - Logo - Title */
  .NavBar article figure p {
    color: rgb(255, 255, 255);
    text-decoration: none;

    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  .NavBar article figure p strong {
    color: rgb(188, 148, 126);
    text-decoration: none;

    font-family: "Titan One", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
}
