@media screen and (min-width: 358px) {
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .BannerSlider {
    position: relative;
  }

  .BannerSlider aside {
    background-color: #00000060;

    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 500;
  }

  .BannerSlider_container {
  }

  .BannerSlider_content {
    width: 100%;
    /*height: 350px; --------------------*/
    height: 100vh;

    overflow: hidden;

    position: relative;
  }

  .BannerSlider_content-box-Slide {
    /*height: 350px; --------------------*/
    height: 100vh;

    display: flex;
    flex-direction: row;
    overflow: hidden;

    position: relative;

    z-index: 200;
  }

  .BannerSlider_content-box-form-container {
    display: none;
  }

  .BannerSlider_content-SlideImage {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;

    opacity: 0;
    scale: 1;
    transition: all ease-in-out 2s;
    object-fit: cover;
  }

  .activeBanner {
    opacity: 1;
    transition: all ease-in-out 2s;
  }

  /* Box Description Style */

  .BannerSlider_content-box-Description {
    border-radius: 10px;

    width: 95%;
    height: 300px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);

    box-sizing: border-box;
    padding: 0.1rem;

    z-index: 500;
  }

  .BannerSlider_content-box-Description-container {
    width: 100%;
    height: 85%;
    overflow: hidden;
    position: relative;

    margin: 30px 0 0 0;
  }

  .BannerSlider_content-box-Description-content {
    width: 100%;

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    z-index: 700;

    opacity: 0;
    transition: all ease-in-out 1s;
  }

  .CurrentDescription {
    opacity: 1;
    transition: all ease-in-out 1s;

    animation-duration: 3s;
    animation-name: slidein;
  }

  .BannerSlider_content-box-Description-content h1 {
    color: white;

    font-size: 1.5rem;
    font-family: "Titillium Web", serif;
    font-weight: bold;
    font-style: normal;

    padding: 0;
    margin: 0 0 0.5rem 0;
  }

  .BannerSlider_content-box-Description-content p {
    color: white;

    font-size: 1.2rem;
    font-family: "Jost", sans-serif;
    font-weight: bold;
    font-style: normal;

    padding: 0;
    margin: 0 0 1rem 0;
  }

  .BannerSlider_content-box-Description-content a {
    background-color: #0066cc;
    color: white;

    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;

    border-radius: 10px;
    padding: 10px 60px;
  }

  /* Box Current Banner */

  .BannerSlider_content-box-Slide-BoxCounter {
    width: 70%;
    height: 50px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

    z-index: 600;
  }

  .BannerSlider_content-box-Slide-accountants {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .BannerSlider_content-box-Slide-counter {
    width: 10px;
    height: 10px;

    border: 2px solid white;
    border-radius: 50%;

    margin: 0 0.4rem 0 0.4rem;
  }

  .activeCurrent {
    background-color: white;
  }

  .BannerSlider_content-box-Slide-Pause {
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .BannerSlider_content-box-Pause-icon {
    font-size: 1rem;

    color: white;
    font-weight: bold;

    cursor: pointer;
  }

  .BannerSlider_content-box-Pause-iconJS {
    display: none;
  }

  .BannerSlider_content-box-Play-icon {
    font-size: 0.9rem;

    color: white;
    font-weight: bold;
    display: none;

    cursor: pointer;
  }

  .BannerSlider_content-box-Play-iconJS {
    display: block;
  }

  /* Style Call */

  .BannerSlider_content-call {
    background: url("../../../public/background/pattern_green.png") #fed829;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
  }

  .BannerSlider_content-call-box {
    width: 85%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .BannerSlider_content-call-box p {
    font-family: "Permanent Marker", cursive;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
  }

  .BannerSlider_content-call-box a {
    background-color: #06c;
    color: white;

    font-size: 1.1rem;
    font-weight: bold;
    font-family: "Titillium Web", serif;
    text-decoration: none;

    margin-top: 1rem;
    padding: 5px 20px;
  }

  /* Arrow */

  .BannerSlider_content-box-Arroow-ArrowLeftBox {
    display: none;
  }

  .BannerSlider_content-box-Arroow-ArrowRigthBox {
    display: none;
  }
}

@media screen and (min-width: 650px) {
  .BannerSlider_content-call {
    background: url("../../../public/background/pattern_green.png") #fed829;
    background-position: center;
    background-repeat: repeat;

    width: 100%;
    height: 190px;

    display: flex;
    justify-content: center;
  }

  .BannerSlider_content-call-box p {
    color: black;

    font-size: 1.5rem;
  }

  .BannerSlider_content-call-box a {
    font-size: 1.1rem;

    margin-top: 1rem;
    padding: 5px 5rem;
  }
}

@media screen and (min-width: 768px) {
  /* Banner */

  .BannerSlider_content {
    width: 100%;
    /*height: 350px; --------------------*/
    height: 100vh;
  }

  .BannerSlider_content-box-Slide {
    /*height: 350px; --------------------*/
    height: 100vh;
  }

  /* Box Description Style */

  .BannerSlider_content-box-Description {
    width: 70%;
    height: 240px;
  }

  .BannerSlider_content-box-Description-content h1 {
    font-size: 2.5rem;
    font-family: "Bree Serif", serif;
  }

  .BannerSlider_content-box-Description-content p {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1000px) {
  /* Banner */

  .BannerSlider_content {
    width: 100%;
    /*height: 350px; --------------------*/
    height: 100vh;
  }

  .BannerSlider_content-box-Slide {
    /*height: 350px; --------------------*/
    height: 100vh;
  }

  /* Description */

  .BannerSlider_content-box-Description {
    width: 70%;
    height: 240px;
  }

  /* Style Css Arrow */

  .BannerSlider_content-box-Arroow-ArrowLeftBox {
    width: 15%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 500;
  }

  .BannerSlider_content-box-Arroow-Left {
    color: white;

    font-size: 4rem;
    font-weight: bold;
    display: none;
  }

  .ArrowLeftActive {
    display: block;
  }

  .BannerSlider_content-box-Arroow-ArrowRigthBox {
    width: 15%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;

    z-index: 500;
  }

  .BannerSlider_content-box-Arroow-Right {
    color: white;

    font-size: 4rem;
    font-weight: bold;

    display: none;
  }

  .ArrowRightActive {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  /* Banner */

  .BannerSlider_content {
    width: 100%;
    /*height: 350px; --------------------*/
    height: 100vh;
  }

  .BannerSlider_content-box-Slide {
    /*height: 350px; --------------------*/
    height: 100vh;
  }

  /* Description */

  .BannerSlider_content-box-Description {
    width: 47%;
    height: 250px;

    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -25%);
  }

  .BannerSlider_content-box-Description-content h1 {
    font-size: 2.7rem;
  }

  .BannerSlider_content-box-Description-content p {
    font-size: 1.7rem;
  }

  /* Style Css Arrow */

  .BannerSlider_content-box-Arroow-ArrowLeftBox {
    width: 10%;
    height: 100%;
  }

  .BannerSlider_content-box-Arroow-ArrowRigthBox {
    width: 10%;
    height: 100%;
  }

  /* Style box form Banner */

  .BannerSlider_content-box-form-container {
    background-color: #120a8f90;

    width: 30%;
    max-width: 450px;
    height: 500px;

    position: absolute;
    top: 30%;
    right: 0%;
    transform: translate(-38%, -10%);

    z-index: 500;
    display: block;
  }

  .BannerSlider_content-box-form-container-content {
    width: 100%;

    height: 100%;

    box-sizing: border-box;

    padding: 1rem;
  }

  .BannerSlider_content-box-form-container-contentForm {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    position: relative;
  }

  .BannerSlider_content-box-form-container-contentForm-title {
  }

  .BannerSlider_content-box-form-container-contentForm-title h1 {
    color: white;

    font-size: 1.7rem;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin: 0;
  }

  .BannerSlider_content-box-form-container-contentForm-inputs {
    width: 100%;
  }

  .BannerSlider_content-box-form-container-contentForm-inputs label {
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  .BannerSlider_content-box-form-container-contentForm-inputs span {
    color: white;

    font-size: 1.1rem;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;

    margin: 1rem 0 0 0;
  }

  .BannerSlider_content-box-form-container-contentForm-inputs input {
    width: 100%;
    height: 30px;

    background-color: white;

    color: black;

    font-size: 1.1rem;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;

    border: none;
    border-radius: 5px;
    outline: none;

    padding: 0.4rem;

    box-sizing: border-box;
  }

  .BannerSlider_content-box-form-container-contentForm-textarea {
    width: 100%;
  }

  .BannerSlider_content-box-form-container-contentForm-textarea label {
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  .BannerSlider_content-box-form-container-contentForm-textarea span {
    color: white;

    font-size: 1.1rem;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;

    margin: 1rem 0 0 0;
  }

  .BannerSlider_content-box-form-container-contentForm-textarea textarea {
    width: 100%;
    height: 100px;

    color: black;

    background-color: white;

    font-size: 0.9rem;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;

    border: none;
    border-radius: 5px;
    outline: none;

    padding: 0.4rem;

    box-sizing: border-box;
  }

  .BannerSlider_content-box-form-container-contentForm-submit {
    width: 100%;
  }

  .BannerSlider_content-box-form-container-contentForm-submit input {
    width: 100%;
    height: 40px;

    background-color: #0770d8;
    color: white;

    font-size: 1.1rem;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;

    border: none;
    border-radius: 10px;

    margin-top: 1rem;
    cursor: pointer;
  }

  /* Message Error */

  .BannerSlider_content-box-form-container-contentForm-MessageError {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    position: absolute;
    bottom: 0;
  }
}

@media screen and (min-width: 2000px) {
  /* Style box form Banner */

  .BannerSlider_content-box-form-container {
    background-color: #120a8f90;

    width: 30%;
    max-width: 450px;
    height: 500px;

    position: absolute;
    top: 30%;
    right: 0%;
    transform: translate(-90%, -10%);

    z-index: 500;
    display: block;
  }
}
